body{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: black;
   text-align: center;
}
/* HEADING*/
.header--main{
    font-weight: normal;
    color: white;
    font-size: 50px;
    .header--secondary{
        font-weight: 300;
        color: white;
        font-size: 42px;
    }
}
/* LINK*/
.link--cta{
    color: aquamarine;
    font-size: 16px;
}